@import "./config/breakpoints";
@import "./config/colors";
@import "./config/fonts";
@import "./config/general";

@import "./mixins/layout";

html, body{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

*{
    box-sizing: border-box;
}

@import "./modules/typography";
@import "./modules/layout";
